.filters {
  color: $darkGrayishBlue;
  position: relative;
  &__wrapper {
    margin: 0 auto;
    max-width: 36rem;
    padding: 0px 30px;
  }
  &__side {
    border-radius: 5px;
    background-color: $veryDarkDesaturatedBlue;
    padding: 14px 0.7rem;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    @include breakpoint-up(medium) {
      font-size: 0.92rem;
    }
    .dark-theme & {
      background-color: white;
      color: black;
    }
  }
  &__center {
    border-radius: 5px;
    background-color: $veryDarkDesaturatedBlue;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 0.8rem;
    padding: 14px 0.7rem;
    @include breakpoint-up(medium) {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      font-size: 0.85rem;
      background-color: transparent;
    }
    .dark-theme & {
      color: black;
      background-color: white;

      @include breakpoint-up(medium) {
        background-color: transparent;
      }
    }
  }
  &__filter {
    font-size: 0.92rem;
    cursor: pointer;
    @include breakpoint-up(medium) {
      font-size: 0.92rem;
    }
  }
}
