@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
  background-color: $veryDarkBlue;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  height: 100vh;
  color: #f4f4f4;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 400;
  letter-spacing: 0.4rem;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin-bottom: 0;
}
input {
  padding: 14px 0px;
  border-radius: 5px;
  border: none;
  background-color: $veryDarkDesaturatedBlue;
  color: $darkGrayishBlue;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.92rem;

  .dark-theme & {
    color: black;
  }
}

.dark-theme input {
  background-color: $veryLightGray;
}
input:focus {
  outline: none;
}

.circle {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid $veryDarkGrayishBlue;
  margin-left: 12px;
  display: inline-block;
  //create checkmark and hide it when input not checked
  &::after {
    content: "";
    position: absolute;
    display: none;
  }
}
ul {
  padding: 0;
}
label {
  display: block;
  padding: 8px 14px;
}

.task--desc {
  font-size: 0.92rem;
  text-align: left;
}

.remove {
  justify-self: center;
  align-self: center;
  display: none;
  @include breakpoint-down(small) {
    display: block;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.filter--on {
  color: $brightBlue;
}

.completed {
}

.hide {
  display: none;
}
.delete--completed {
  cursor: pointer;
}

.main--wrapper {
  position: absolute;
  width: 100%;
  top: 18%;
  left: 0;
}

.dark-theme {
  background-color: $veryLightGrayishBlue;
}
