.header {
  height: 22vh;
  background: url("../../images/bg-mobile-dark.jpg") no-repeat center center /
    cover;
  width: 100%;

  &__wrapper {
    margin: 0 auto;
    max-width: 36rem;
    padding: 0px 30px;
    padding-top: 25px;
  }
  &__main {
    @include breakpoint-up(small) {
      margin-top: 5.5rem;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    background-image: url("../../images/icon-sun.svg");
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__todo {
    width: 100%;
    display: grid;
    grid-template-columns: 14% auto;
    background-color: $veryDarkDesaturatedBlue;
    border-radius: 5px;
    align-items: center;
  }

  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__input {
    width: 100%;
  }
}
