.header {
  height: 20vh;
  background: url("../../images/bg-mobile-dark.jpg") no-repeat center center /
    cover;
  width: 100%;

  &__wrapper {
    margin: 0 auto;
    max-width: 28rem;
    padding: 0px 30px;
    padding-top: 25px;
  }

  &__todo {
    width: 100%;
    display: grid;
    grid-template-columns: 15% auto;
    background-color: $veryDarkDesaturatedBlue;
    border-radius: 5px;
    align-items: center;
  }

  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.3rem;
  }

  &__input {
    width: 100%;
  }
}
