.header {
  height: 15vh;
  background: url("../../images/bg-mobile-dark.jpg") no-repeat center center /
    cover;
  width: 100%;

  &__wrapper {
    margin: 0 auto;
    max-width: 28rem;
    padding: 15px 30px;
  }

  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.3rem;
  }

  &__input {
    width: 100%;
    padding: 14px 20px;
    border-radius: 5px;
    border: none;
  }
}
