.list {
  margin-top: 1rem;
  &__wrapper {
    margin: 0 auto;
    max-width: 36rem;
    padding: 0px 30px;
  }
  &__background {
    text-align: left;
    border-radius: 5px;
    background-color: $veryDarkDesaturatedBlue;
  }

  &__task {
    padding: 0.6625rem 0;
    border-bottom: 1px solid $darkGrayishBlue;
    position: relative;
    cursor: pointer;
    display: grid;
    grid-template-columns: 15% auto 15%;
    align-items: center;

    &:hover {
      .remove {
        display: flex;
      }
    }

    // hide browser's deafult checkbox
    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    //mouseover add border color
    &:hover .circle {
      border-color: linear-gradient(
        to right,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
      );
    }

    //add bg when input checked
    & input:checked ~ .circle {
      background: linear-gradient(
        to right,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
      );
    }
    //add marked text
    & input:checked ~ .task--desc {
      text-decoration: line-through;
      color: $darkGrayishBlue;
    }

    //show the checkmark when checked
    & input:checked ~ .circle::after {
      display: block;
    }

    //style checkmark
    & .circle::after {
      left: 8.5px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
